/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f7fa;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #333;
  text-align: center;
  margin-bottom: 40px;
}

.section {
  background-color: #ffffff;
  margin-bottom: 40px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Navbar Styles */
.navbar {
  background-color: #ffcc00;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar li {
  display: inline-block;
  margin-right: 20px;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 16px;
}

.navbar .dropdown {
  position: relative;
  display: inline-block;
}

.navbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown {
  display: none;
}

.sub-segments {
  display: none;
  margin: 10px !important;
}

.dropdown-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  left: 0;
  background-color: #ffcc00;
  box-shadow: 4px 4px 29px 0px rgba(0,0,0,0.75);
  width: max-content;
}

.dropdown-menu  > li{
  margin-right: 0px;
  padding: 5px;
}

.navbar .dropdown:hover .dropdown-content {
  display: block;
}

.navbar .dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.navbar .dropdown-content a:hover {
  background-color: #f9f9f9;
}

.navbar-toggle-checkbox {
  display: none;
}

.navbar-toggle-label {
  display: none;
  cursor: pointer;
  padding: 10px;
}

.navbar-toggle-label span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #333;
  margin-bottom: 5px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .navbar ul {
    display: none;
  }
  
  .navbar-toggle-checkbox:checked ~ #nav-menu {
    display: block;
  }

  .navbar-toggle-label {
    display: block;
  }

  .active {
    display: flex !important;
    flex-direction: row;
    font-size: 1.5rem;
    flex-wrap: wrap;
  }
}

/* Blog Styles */
.blog-section {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 40px;
}

.blog-title {
  text-align: center;
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.blog-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px;
  margin: 10px;
  padding: 20px;
  background-color: #ffcc00;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.card h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.card p {
  font-size: 14px;
  color: #666;
}

/* News Feed Styles */
.news-feed-section {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 40px;
}

.news-feed-title {
  text-align: center;
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.slider-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.slider {
  display: flex;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.slide {
  width: 100%;
  flex-shrink: 0;
  padding: 20px;
  text-align: center;
}

.slide img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.slide-content {
  padding: 10px;
  background-color: #ffcc00;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.slider-controls {
  text-align: center;
}

.slider-button {
  padding: 10px 20px;
  background-color: #FFA500;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 10px;
}

.slider-button:hover {
  background-color: #FF9800;
}

/* Events Styles */
.events-section {
  background-color: #fff;
  padding: 20px;
}

.event-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.event-card {
  position: relative;
  background-color: #f9f9f9;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.event-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.315);
}

.event-card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.event-heading {
  font-size: 20px;
  margin-bottom: 10px;
}

.event-description {
  color: #555;
}


/* Jobs Styles */
.jobs-section {
  background-color: #fff;
  padding: 20px;
}

.jobs-carousel {
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.job-card {
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  margin: 20px 20px;
  cursor: pointer;
}

.job-card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.job-card-inner {
  padding: 20px;
}

.job-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.job-description {
  color: #555;
}

.job-cta {
  margin-top: 20px;
}

.job-cta a {
  display: inline-block;
  padding: 8px 16px;
  background-color: #FFA500;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.job-cta a:hover {
  background-color: #FF9800;
}