/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f7fa;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #333;
  text-align: center;
  margin-bottom: 40px;
}

.section {
  background-color: #ffffff;
  margin-bottom: 40px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Navbar Styles */
.navbar {
  background-color: #ffcc00;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.navbar-toggle-checkbox {
  display: none;
}

.navbar-toggle-label {
  cursor: pointer;
  padding: 10px;
}

.navbar-toggle-label span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #333;
  margin-bottom: 5px;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar li {
  display: inline-block;
  margin-right: 20px;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 16px;
}

.navbar .dropdown {
  position: relative;
  display: inline-block;
}

.navbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown {
  display: none;
}

.sub-segments {
  display: none;
}

.dropdown-menu {
  display: none;
  flex-direction: column;
  padding: 10px;
}

.navbar .dropdown:hover .dropdown-content {
  display: block;
}

.navbar .dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.navbar .dropdown-content a:hover {
  background-color: #f9f9f9;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .navbar ul {
    display: none;
  }
  
  .navbar-toggle-checkbox:checked ~ #nav-menu {
    display: block;
  }

  .navbar-toggle-label {
    display: block;
  }

  .active {
    display: flex !important;
    flex-direction: row;
    font-size: 1.5rem;
    flex-wrap: wrap;
  }
}


/* Blog Styles */
.blog-section {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 40px;
}

.blog-title {
  text-align: center;
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.blog-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px;
  margin: 10px;
  padding: 20px;
  background-color: #ffcc00;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.card h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.card p {
  font-size: 14px;
  color: #666;
}

/* News Feed Styles */
.news-feed-section {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 40px;
}

.news-feed-title {
  text-align: center;
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.slider-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.slider {
  display: flex;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.slide {
  width: 100%;
  flex-shrink: 0;
  padding: 20px;
  text-align: center;
}

.slide img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.slide-content {
  padding: 10px;
  background-color: #ffcc00;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Jobs Styles */
.jobs-section {
  background-color: #ffffff;
  padding: 20px;
}

.jobs-title {
  text-align: center;
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.job-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.job-list li {
  margin-bottom: 10px;
}

.job-list li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

.job-list li a:hover {
  text-decoration: underline;
}
